@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model AdvertisingBillboards.ViewModels.AdvertisementViewModel
@{
    ViewData["Title"] = "Advertisement";
    Layout = "_Layout";
}
<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Advertisement</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="/Styles/StyleSheet.css" />
</head>
<body>
     <div class="m-3">
        <ul class="list-group justify-content-center">
            <li class="list-group-item">
                <div style="margin-left: 40%">
                    <h2 class="m-3">Device advertisement: @Model.Advertisement.FileName</h2>
                </div>
                <div class="m-5 d-flex justify-content-center">
                    <video controls mutted width="480">
                        <source src="~/Videos/@Model.Advertisement.FileName" type="video/mp4">
                    </video>
                </div>
            </li>
        </ul>
    </div>
</body>