@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<AdvertisingBillboards.Models.Models.User>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css">
<head>
    <title>Sign in</title>
</head>
<body>
<div>
    <div class="text-center" style="margin-top: 5px">
        <div class="btn btn-group-vertical align-items-md-center">
            <a href="@Url.Action("UsersList", "Admin")" class="btn btn-secondary">Enter as administrator</a>
            <h2 style="margin-top: 10px">Login as user:</h2>
        </div>
    </div>
    
    <div class="text-center">
        <div class="m-3">
            <ul class="list-group" style="">
                @foreach (var user in Model)
                {
                    <a class="list-group-item list-group-item-action" asp-controller="User" asp-action="Devices" asp-route-userId="@user.Id">@user.UserName</a>
                }
            </ul>
        </div>
    </div>
</div>
</body>
</html>