@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<head>
    <title>Sign in</title>
</head>
<body>
<div>
    <div class="text-center" style="margin-top: 5px">
        <button class="btn btn-secondary" type="button">Enter as administrator</button>
        <h2 style="margin-top: 10px">Login as user:</h2>
    </div>
    
    <div class="text-center">
        <div class="m-3">
            <ul class="list-group" style="">
                <li class="list-group-item">Pavel</li>
                <li class="list-group-item">Dmin</li>
                <li class="list-group-item">Max</li>
            </ul>
        </div>
    </div>
    
    
</div>
</body>
</html>