@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model AdvertisingBillboards.Models.Models.AdvertisementStatistics

@{
    ViewData["Title"] = "AdvertisementStatistics";
    Layout = "_Layout";
}

<head>
    <title>Advertisement statistics</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>

    <div class="m-3">
        <h2 class="m-3">Advertising statistics for advertisement ID: @Model.AdvertisementId: </h2>
        <h3 class="m-3">Total Views: <b>@Model.TotalViews</b></h3>
        <h4><a class="btn btn-outline-info" style="margin-left: 10px" asp-action="Devices" asp-controller="Admin">Back</a></h4>
    </div>
</body>

