@model dynamic

@{
    ViewData["Title"] = "Devices";
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
    <b>Button</b>
</head>
<body>
<div>
      
</div>
</body>
</html>