@{
    ViewData["Title"] = "Devices";
    Layout = "~/Views/Admin/_Layout.cshtml";
}
<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Devices</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />

</head>
<body>
    <form class="form-inline m-4">
        <div class="input-group mb-3">
            <button type="submit" class="btn btn-success">Add Device</button>
        </div>
    </form>
        <div style="margin: 3% 8%;">
            <h2>Devices: </h2>
                <table class="table">
        <tr>
            <th scope="col">№</th>
            <th scope="col">Username</th>
            <th scope="col">User ID</th>
        </tr>
        <td class="btn-group-toggle row float-right">
            <a class="btn btn-light mr-3">View advertising</a>
            <button type="submit" class="btn btn-danger mr-3">Delete</button>
        </td>

    </table>
</div>
</body>